In [82]:
import pandas as pd
import numpy as np
import json
import requests

In [83]:
with open('oddsnba.json') as json_file:
    odds = json.load(json_file)

In [84]:
odds = pd.DataFrame.from_dict(odds, orient='index')

In [85]:
odds

                                                          0
tEOKqchD  01:00 Chicago Bulls - Milwaukee Bucks\n  118:1...
jq6B6KaQ  01:00 Minnesota Timberwolves - Dallas Maverick...
hhhw2v8s  01:00 New Orleans Pelicans - Los Angeles Laker...
lKon0Ixf  01:00 Oklahoma City Thunder - Los Angeles Clip...
fHlfbd76  01:00 Portland Trail Blazers - Denver Nuggets\...
...                                                     ...
63r78x3F  23:00 Indiana Pacers - New York Knicks\n  121:...
n1dyiAXs  23:00 Orlando Magic - Miami Heat 113:107\n2.66...
QieujUnl  23:00 Philadelphia 76ers - Washington Wizards\...
K0sOixx5  02:00 Los Angeles Lakers - Los Angeles Clipper...
xxhJhIMb  23:00 Brooklyn Nets - Golden State Warriors\n ...

[1081 rows x 1 columns]

In [86]:
odds['games'] = odds[0].str[6:]

#odds['gameid'] = odds[0]

In [87]:
odds.drop(columns=[0], inplace=True)
odds

                                                      games
tEOKqchD  Chicago Bulls - Milwaukee Bucks\n  118:112\n3....
jq6B6KaQ  Minnesota Timberwolves - Dallas Mavericks\n  1...
hhhw2v8s  New Orleans Pelicans - Los Angeles Lakers\n  9...
lKon0Ixf  Oklahoma City Thunder - Los Angeles Clippers\n...
fHlfbd76  Portland Trail Blazers - Denver Nuggets\n  132...
...                                                     ...
63r78x3F  Indiana Pacers - New York Knicks\n  121:107\n1...
n1dyiAXs  Orlando Magic - Miami Heat 113:107\n2.66\n1.51...
QieujUnl  Philadelphia 76ers - Washington Wizards\n  113...
K0sOixx5  Los Angeles Lakers - Los Angeles Clippers\n  1...
xxhJhIMb  Brooklyn Nets - Golden State Warriors\n  125:9...

[1081 rows x 1 columns]

In [88]:
odds[['AwayTeam','HomeTeam']] = odds.games.str.split(" - ",expand=True,)
odds

,games,AwayTeam,HomeTeam
tEOKqchD,Chicago Bulls - Milwaukee Bucks\n 118:112\n3....,Chicago Bulls,Milwaukee Bucks\n 118:112\n3.30\n1.36\n14
jq6B6KaQ,Minnesota Timberwolves - Dallas Mavericks\n 1...,Minnesota Timberwolves,Dallas Mavericks\n 136:121\n3.26\n1.37\n14
hhhw2v8s,New Orleans Pelicans - Los Angeles Lakers\n 9...,New Orleans Pelicans,Los Angeles Lakers\n 98:110\n4.55\n1.22\n14
lKon0Ixf,Oklahoma City Thunder - Los Angeles Clippers\n...,Oklahoma City Thunder,Los Angeles Clippers\n 117:112\n3.75\n1.29\n14
fHlfbd76,Portland Trail Blazers - Denver Nuggets\n 132...,Portland Trail Blazers,Denver Nuggets\n 132:116\n1.26\n4.06\n14
...,...,...,...
63r78x3F,Indiana Pacers - New York Knicks\n 121:107\n1...,Indiana Pacers,New York Knicks\n 121:107\n1.31\n3.62\n12
n1dyiAXs,Orlando Magic - Miami Heat 113:107\n2.66\n1.51...,Orlando Magic,Miami Heat 113:107\n2.66\n1.51\n12
QieujUnl,Philadelphia 76ers - Washington Wizards\n 113...,Philadelphia 76ers,Washington Wizards\n 113:107\n1.33\n3.47\n12
K0sOixx5,Los Angeles Lakers - Los Angeles Clippers\n 1...,Los Angeles Lakers,Los Angeles Clippers\n 109:116\n1.74\n2.16\n12
xxhJhIMb,Brooklyn Nets - Golden State Warriors\n 125:9...,Brooklyn Nets,Golden State Warriors\n 125:99\n1.31\n3.61\n12

In [89]:
odds.drop(columns=['games'], inplace=True)
odds

,AwayTeam,HomeTeam
tEOKqchD,Chicago Bulls,Milwaukee Bucks\n 118:112\n3.30\n1.36\n14
jq6B6KaQ,Minnesota Timberwolves,Dallas Mavericks\n 136:121\n3.26\n1.37\n14
hhhw2v8s,New Orleans Pelicans,Los Angeles Lakers\n 98:110\n4.55\n1.22\n14
lKon0Ixf,Oklahoma City Thunder,Los Angeles Clippers\n 117:112\n3.75\n1.29\n14
fHlfbd76,Portland Trail Blazers,Denver Nuggets\n 132:116\n1.26\n4.06\n14
...,...,...
63r78x3F,Indiana Pacers,New York Knicks\n 121:107\n1.31\n3.62\n12
n1dyiAXs,Orlando Magic,Miami Heat 113:107\n2.66\n1.51\n12
QieujUnl,Philadelphia 76ers,Washington Wizards\n 113:107\n1.33\n3.47\n12
K0sOixx5,Los Angeles Lakers,Los Angeles Clippers\n 109:116\n1.74\n2.16\n12
xxhJhIMb,Brooklyn Nets,Golden State Warriors\n 125:99\n1.31\n3.61\n12

In [90]:
odds['HomeTeam'] = odds['HomeTeam'].str[:-2]
odds

,AwayTeam,HomeTeam
tEOKqchD,Chicago Bulls,Milwaukee Bucks\n 118:112\n3.30\n1.36\n
jq6B6KaQ,Minnesota Timberwolves,Dallas Mavericks\n 136:121\n3.26\n1.37\n
hhhw2v8s,New Orleans Pelicans,Los Angeles Lakers\n 98:110\n4.55\n1.22\n
lKon0Ixf,Oklahoma City Thunder,Los Angeles Clippers\n 117:112\n3.75\n1.29\n
fHlfbd76,Portland Trail Blazers,Denver Nuggets\n 132:116\n1.26\n4.06\n
...,...,...
63r78x3F,Indiana Pacers,New York Knicks\n 121:107\n1.31\n3.62\n
n1dyiAXs,Orlando Magic,Miami Heat 113:107\n2.66\n1.51\n
QieujUnl,Philadelphia 76ers,Washington Wizards\n 113:107\n1.33\n3.47\n
K0sOixx5,Los Angeles Lakers,Los Angeles Clippers\n 109:116\n1.74\n2.16\n
xxhJhIMb,Brooklyn Nets,Golden State Warriors\n 125:99\n1.31\n3.61\n

In [100]:
odds['Score'] = odds['HomeTeam'].str.rsplit('\n', 4, expand=True)[1]
odds['Home'] = odds['HomeTeam'].str.rsplit('\n', 4, expand=True)[0]

In [102]:
odds['AwayOdds'] = odds['HomeTeam'].str.rsplit('\n', 4, expand=True)[2]
odds['HomeOdds'] = odds['HomeTeam'].str.rsplit('\n', 4, expand=True)[3]

In [111]:
pd.set_option('display.max_rows', 10)
odds

,AwayTeam,Score,Home,AwayOdds,HomeOdds
tEOKqchD,Chicago Bulls,118:112,Milwaukee Bucks,3.30,1.36
jq6B6KaQ,Minnesota Timberwolves,136:121,Dallas Mavericks,3.26,1.37
hhhw2v8s,New Orleans Pelicans,98:110,Los Angeles Lakers,4.55,1.22
lKon0Ixf,Oklahoma City Thunder,117:112,Los Angeles Clippers,3.75,1.29
fHlfbd76,Portland Trail Blazers,132:116,Denver Nuggets,1.26,4.06
...,...,...,...,...,...
63r78x3F,Indiana Pacers,121:107,New York Knicks,1.31,3.62
n1dyiAXs,Orlando Magic,2.66,Miami Heat 113:107,1.51,
QieujUnl,Philadelphia 76ers,113:107,Washington Wizards,1.33,3.47
K0sOixx5,Los Angeles Lakers,109:116,Los Angeles Clippers,1.74,2.16
xxhJhIMb,Brooklyn Nets,125:99,Golden State Warriors,1.31,3.61

In [112]:
odds.to_csv("clean.csv")

In [116]:
odds = pd.read_csv("clean.csv")

In [117]:
odds

,Unnamed: 0,AwayTeam,Score,HomeTeam,AwayOdds,HomeOdds
0,tEOKqchD,Chicago Bulls,118:112,Milwaukee Bucks,3.30,1.36
1,jq6B6KaQ,Minnesota Timberwolves,136:121,Dallas Mavericks,3.26,1.37
2,hhhw2v8s,New Orleans Pelicans,98:110,Los Angeles Lakers,4.55,1.22
3,lKon0Ixf,Oklahoma City Thunder,117:112,Los Angeles Clippers,3.75,1.29
4,fHlfbd76,Portland Trail Blazers,132:116,Denver Nuggets,1.26,4.06
...,...,...,...,...,...,...
1076,63r78x3F,Indiana Pacers,121:107,New York Knicks,1.31,3.62
1077,n1dyiAXs,Orlando Magic,113:107,Miami Heat,2.66,1.51
1078,QieujUnl,Philadelphia 76ers,113:107,Washington Wizards,1.33,3.47
1079,K0sOixx5,Los Angeles Lakers,109:116,Los Angeles Clippers,1.74,2.16
1080,xxhJhIMb,Brooklyn Nets,125:99,Golden State Warriors,1.31,3.61

In [118]:
odds[['AwayScore','HomeScore']] = odds.Score.str.split(":",expand=True)
odds

,Unnamed: 0,AwayTeam,Score,HomeTeam,AwayOdds,HomeOdds,AwayScore,HomeScore
0,tEOKqchD,Chicago Bulls,118:112,Milwaukee Bucks,3.30,1.36,118,112
1,jq6B6KaQ,Minnesota Timberwolves,136:121,Dallas Mavericks,3.26,1.37,136,121
2,hhhw2v8s,New Orleans Pelicans,98:110,Los Angeles Lakers,4.55,1.22,98,110
3,lKon0Ixf,Oklahoma City Thunder,117:112,Los Angeles Clippers,3.75,1.29,117,112
4,fHlfbd76,Portland Trail Blazers,132:116,Denver Nuggets,1.26,4.06,132,116
...,...,...,...,...,...,...,...,...
1076,63r78x3F,Indiana Pacers,121:107,New York Knicks,1.31,3.62,121,107
1077,n1dyiAXs,Orlando Magic,113:107,Miami Heat,2.66,1.51,113,107
1078,QieujUnl,Philadelphia 76ers,113:107,Washington Wizards,1.33,3.47,113,107
1079,K0sOixx5,Los Angeles Lakers,109:116,Los Angeles Clippers,1.74,2.16,109,116
1080,xxhJhIMb,Brooklyn Nets,125:99,Golden State Warriors,1.31,3.61,125,99

In [119]:
odds.drop(columns=['Score'], inplace=True)
odds

,Unnamed: 0,AwayTeam,HomeTeam,AwayOdds,HomeOdds,AwayScore,HomeScore
0,tEOKqchD,Chicago Bulls,Milwaukee Bucks,3.30,1.36,118,112
1,jq6B6KaQ,Minnesota Timberwolves,Dallas Mavericks,3.26,1.37,136,121
2,hhhw2v8s,New Orleans Pelicans,Los Angeles Lakers,4.55,1.22,98,110
3,lKon0Ixf,Oklahoma City Thunder,Los Angeles Clippers,3.75,1.29,117,112
4,fHlfbd76,Portland Trail Blazers,Denver Nuggets,1.26,4.06,132,116
...,...,...,...,...,...,...,...
1076,63r78x3F,Indiana Pacers,New York Knicks,1.31,3.62,121,107
1077,n1dyiAXs,Orlando Magic,Miami Heat,2.66,1.51,113,107
1078,QieujUnl,Philadelphia 76ers,Washington Wizards,1.33,3.47,113,107
1079,K0sOixx5,Los Angeles Lakers,Los Angeles Clippers,1.74,2.16,109,116
1080,xxhJhIMb,Brooklyn Nets,Golden State Warriors,1.31,3.61,125,99

In [130]:
odds.rename(columns={'Unnamed: 0':'in'}, inplace=True)

In [132]:
odds = odds.set_index('in')
odds

,AwayTeam,HomeTeam,AwayOdds,HomeOdds,AwayScore,HomeScore
in,,,,,,
tEOKqchD,Chicago Bulls,Milwaukee Bucks,3.30,1.36,118,112
jq6B6KaQ,Minnesota Timberwolves,Dallas Mavericks,3.26,1.37,136,121
hhhw2v8s,New Orleans Pelicans,Los Angeles Lakers,4.55,1.22,98,110
lKon0Ixf,Oklahoma City Thunder,Los Angeles Clippers,3.75,1.29,117,112
fHlfbd76,Portland Trail Blazers,Denver Nuggets,1.26,4.06,132,116
...,...,...,...,...,...,...
63r78x3F,Indiana Pacers,New York Knicks,1.31,3.62,121,107
n1dyiAXs,Orlando Magic,Miami Heat,2.66,1.51,113,107
QieujUnl,Philadelphia 76ers,Washington Wizards,1.33,3.47,113,107
K0sOixx5,Los Angeles Lakers,Los Angeles Clippers,1.74,2.16,109,116
xxhJhIMb,Brooklyn Nets,Golden State Warriors,1.31,3.61,125,99

In [133]:
odds.to_csv("clean.csv")