### CRUD:
- Create
- Replace
- Update
- Delete

===============================

### IMPORTS & GET DATABASE INFO

In [1]:
from jsons import read_json_to_dict
from mysql_driver import MySQL
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

json_readed = read_json_to_dict("sql_server_settings.json")
IP_DNS = json_readed["IP_DNS"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]
PORT = json_readed["PORT"]

In [2]:
# Connect to MySQL
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
conn = mysql_db.connect()

Connected to MySQL server [x9808164k_ds_april_2021_db]

============== 

### DROP TABLE

In [12]:
# Drop table if it already exist using execute() method.
#mysql_db.cursor.execute("DROP TABLE IF EXISTS people")

mysql_db.execute_interactive_sql(sql="DROP TABLE IF EXISTS Football")

Executed

DROP TABLE IF EXISTS Football

 successfully

1

============== 

### CREATE TABLE

In [45]:
import os
SEP = os.sep
dir = os.path.dirname

def retrievecsvfrom
csv_fullpath = dir(dir(dir(os.getcwd()))) + SEP + "data" + SEP + "futclean.csv"

csv_fullpath

'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\EDA\\data\\futclean.csv'

In [49]:
football = pd.read_csv(csv_fullpath, index_col=0)
football = football.reset_index()
football

,Country,League,Season,Date,Homeoraway,Team,TeamGoals,Opponent,OpponentGoals,Favourite,Result,TotalGoals,TeamOdds,DrawOdds,OpponentOdds,ResultBetWin,ResultBetDraw,ResultBetLose
0,ENGLAND,PREM,20/21,2021/05/23,Away,Chelsea,1,Aston Villa,2,Favourite,Lose,3,1.45,4.6,6.50,-1.0,-1.0,5.50
1,ENGLAND,PREM,20/21,2021/05/23,Home,Fulham,0,Newcastle,2,Favourite,Lose,2,2.05,3.8,3.30,-1.0,-1.0,2.30
2,ENGLAND,PREM,20/21,2021/05/23,Home,Leicester,2,Tottenham,4,Favourite,Lose,6,2.00,4.0,3.30,-1.0,-1.0,2.30
3,ENGLAND,PREM,20/21,2021/05/23,Away,Burnley,0,Sheffield United,1,Favourite,Lose,1,2.40,3.6,2.80,-1.0,-1.0,1.80
4,ENGLAND,PREM,20/21,2021/05/23,Home,Wolves,1,Man United,2,Favourite,Lose,3,2.50,3.5,2.70,-1.0,-1.0,1.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17347,ENGLAND,PREM,15/16,2015/08/08,Away,Swansea,2,Chelsea,2,NotFavourite,Draw,4,11.00,5.0,1.36,-1.0,4.0,-1.00
17348,ENGLAND,PREM,15/16,2015/08/08,Away,Watford,2,Everton,2,NotFavourite,Draw,4,5.50,3.9,1.70,-1.0,2.9,-1.00
17349,ENGLAND,PREM,15/16,2015/08/08,Away,Sunderland,2,Leicester,4,NotFavourite,Lose,6,4.33,3.5,1.95,-1.0,-1.0,0.95
17350,ENGLAND,PREM,15/16,2015/08/08,Away,Tottenham,0,Man United,1,NotFavourite,Lose,1,6.00,4.0,1.65,-1.0,-1.0,0.65
17351,ENGLAND,PREM,15/16,2015/08/08,Away,Crystal Palace,3,Norwich,1,NotFavourite,Win,4,3.00,3.3,2.55,2.0,-1.0,-1.00

In [47]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17352 entries, 0 to 17351
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          17352 non-null  object
 1   League           17352 non-null  object
 2   Season           17352 non-null  object
 3   Date             17352 non-null  object
 4   Homeoraway       17352 non-null  object
 5   Team             17352 non-null  object
 6   TeamGoals        17352 non-null  int64
 7   Opponent         17352 non-null  object
 8   OpponentGoals    17352 non-null  int64
 9   FavouriteResult  17352 non-null  object
 10  Result           17352 non-null  object
 11  TotalGoals       17352 non-null  int64
 12  TeamOdds         17348 non-null  float64
 13  DrawOdds         17348 non-null  float64
 14  OpponentOdds     17348 non-null  float64
 15  ResultBetWin     17352 non-null  float64
 16  ResultBetDraw    17352 non-null  float64
 17  ResultBetLose    17352 non-null  float64
dtypes: float64(6), int64(3), object(9)
memory usage: 2.4+ MB

In [42]:
csv_fullpath = dir(dir(dir(os.getcwd()))) + SEP + "data" + SEP + "NFL ready.csv"

csv_fullpath

'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\EDA\\data\\NFL ready.csv'

In [43]:
nfl = pd.read_csv(csv_fullpath, index_col=None)
nfl

,Country,League,Season,Date,Team,Homeoraway,TeamOdds,TeamScore,Opponent,OpponentOdds,OpponentScore,Result,Favourite,TotalScorePred,TotalScore,ResultBetWin,ResultBetLose,TotalfromPred
0,USA,NFL,20/21,2021/02/07,Tampa Bay Buccaneers,Home,2.55,31,Kansas City Chiefs,1.57,9,Win,NotFavourite,57.0,40,1.55,-1.00,-17.0
1,USA,NFL,20/21,2021/02/07,Kansas City Chiefs,Away,1.57,9,Tampa Bay Buccaneers,2.55,31,Lose,Favourite,57.0,40,-1.00,1.55,-17.0
2,USA,NFL,20/21,2021/01/24,Kansas City Chiefs,Home,1.66,38,Buffalo Bills,2.30,24,Win,Favourite,52.0,62,0.66,-1.00,10.0
3,USA,NFL,20/21,2021/01/24,Green Bay Packers,Home,1.50,26,Tampa Bay Buccaneers,2.70,31,Lose,Favourite,51.0,57,-1.00,1.70,6.0
4,USA,NFL,20/21,2021/01/24,Buffalo Bills,Away,2.30,24,Kansas City Chiefs,1.66,38,Lose,NotFavourite,52.0,62,-1.00,0.66,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3203,USA,NFL,15/16,2015/09/13,Cleveland Browns,Away,2.27,10,New York Jets,1.71,31,Lose,NotFavourite,40.0,41,-1.00,0.71,1.0
3204,USA,NFL,15/16,2015/09/13,Seattle Seahawks,Away,1.51,31,St. Louis Rams,2.75,34,Lose,Favourite,41.5,65,-1.00,1.75,23.5
3205,USA,NFL,15/16,2015/09/13,Miami Dolphins,Away,1.53,17,Washington Football Team,2.71,10,Win,Favourite,43.0,27,0.53,-1.00,-16.0
3206,USA,NFL,15/16,2015/09/10,New England Patriots,Home,1.35,28,Pittsburgh Steelers,3.52,21,Win,Favourite,52.0,49,0.35,-1.00,-3.0
3207,USA,NFL,15/16,2015/09/10,Pittsburgh Steelers,Away,3.52,21,New England Patriots,1.35,28,Lose,NotFavourite,52.0,49,-1.00,0.35,-3.0

In [39]:
csv_fullpath = dir(dir(dir(os.getcwd()))) + SEP + "data" + SEP + "nbaclean.csv"

csv_fullpath

'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\EDA\\data\\nbaclean.csv'

In [40]:
NBA = pd.read_csv(csv_fullpath, index_col=None)
NBA

,Country,League,Season,Date,Team,Homeoraway,TeamOdds,TeamScore,Opponent,OpponentOdds,...,TotalScore,ResultBetWin,ResultBetLose,TotalfromPred,TeamWinPred,TeamScorePred,ScoredfromPred,OpponentWinPred,OpponentScorePred,ReceivedfromPred
0,USA,NBA,20/21,2020/12/22,Golden State Warriors,Away,3.61,99,Brooklyn Nets,1.31,...,224,-1.00,0.31,-4,42%,112,-13,58%,116,9
1,USA,NBA,20/21,2020/12/22,Los Angeles Clippers,Away,2.16,116,Los Angeles Lakers,1.74,...,225,1.16,-1.00,5,40%,108,8,60%,112,-3
2,USA,NBA,20/21,2020/12/22,Brooklyn Nets,Home,1.31,125,Golden State Warriors,3.61,...,224,0.31,-1.00,-4,58%,116,9,42%,112,-13
3,USA,NBA,20/21,2020/12/22,Los Angeles Lakers,Home,1.74,109,Los Angeles Clippers,2.16,...,225,-1.00,1.16,5,60%,112,-3,40%,108,8
4,USA,NBA,20/21,2020/12/23,Atlanta Hawks,Away,1.80,124,Chicago Bulls,2.06,...,228,0.80,-1.00,2,41%,111,13,59%,115,-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,USA,NBA,20/21,2021/05/16,Detroit Pistons,Home,2.33,107,Miami Heat,1.65,...,227,-1.00,0.65,17,40%,103,4,60%,107,13
2156,USA,NBA,20/21,2021/05/16,Chicago Bulls,Home,3.30,118,Milwaukee Bucks,1.36,...,230,2.30,-1.00,0,35%,112,6,65%,118,-6
2157,USA,NBA,20/21,2021/05/16,Philadelphia 76ers,Home,1.40,128,Orlando Magic,3.09,...,245,0.40,-1.00,32,88%,114,14,12%,99,18
2158,USA,NBA,20/21,2021/05/16,San Antonio Spurs,Home,2.22,121,Phoenix Suns,1.71,...,244,-1.00,0.71,20,34%,109,12,66%,115,8
2159,USA,NBA,20/21,2021/05/16,Sacramento Kings,Home,6.55,99,Utah Jazz,1.13,...,220,-1.00,0.13,-11,25%,111,-12,75%,120,1

============== 

### SELECT TABLE

In [ ]:
# Select
select_sql = """SELECT * FROM people"""
select_result = mysql_db.execute_get_sql(sql=select_sql)

# tupla de tuplas
type(select_result)

In [ ]:
select_result

============== 

### INSERT TABLE

In [ ]:
# Insert

#to_insert_1 = ["Pepito", "Wolfram_Eustaquio", "Calle Bellavista 9º-B", "67", "Enfermedad: Ceguera"]
#to_insert_2 = ["Juanita", "Data Science", "Calle Recoletos", "15", "Está muy alegre siempre"]

#sql_to_insert_1 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_1)
#sql_to_insert_2 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_2)

In [ ]:
#sql_to_insert_1

In [ ]:
# Otra forma de insert
#mysql_db.execute_interactive_sql(sql="""INSERT INTO people 
(MOMENTO, NOMBRE, APELLIDOS, DIRECCION, EDAD, NOTA) 
VALUES 
(NOW(), 'Pepito', 'Wolfram_Eustaquio', 'Calle Bellavista 9º-B', '67', 'Enfermedad: Ceguera')""")

In [ ]:
#mysql_db.execute_interactive_sql(sql=sql_to_insert_1)
#mysql_db.execute_interactive_sql(sql=sql_to_insert_2)

=====================

### SELECT COLUMNS

In [ ]:
#select_sql = """SELECT * FROM people"""
#select_result = mysql_db.execute_get_sql(sql=select_sql)
#select_result

In [ ]:
#sql_drop = """DELETE FROM people WHERE NOMBRE='Pepito';"""
#mysql_db.execute_interactive_sql(sql=sql_drop)

In [ ]:
#select_sql = """SELECT * FROM people"""
#select_result = mysql_db.execute_get_sql(sql=select_sql)
#select_result

# WITH PANDAS

### Select with pandas

In [27]:
#engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@{IP_DNS}:{PORT}/{BD_NAME}')

In [50]:
#football.to_sql('Football', con = engine, index=False, if_exists='replace')

In [44]:
#nfl.to_sql('NFL', con = engine, index=False, if_exists='replace')

In [41]:
#NBA.to_sql('NBA', con = engine, index=False, if_exists='replace')

In [ ]:
# Version 2
#db_connection_str = mysql_db.SQL_ALCHEMY

#string = 'mysql+pymysql://user:password@98.76.54.33:20001/apr_july_2021_tb'
#db_connection = create_engine(db_connection_str)

#df = pd.read_sql("select * from people", con=db_connection)
#pd.set_option('display.expand_frame_repr', False)

#df

### Insert from pandas

=============================

### Update row

In [ ]:
#sql_update = """UPDATE people set EDAD=102 WHERE NOMBRE='Juanita';"""

#mysql_db.execute_interactive_sql(sql=sql_update)

In [ ]:
#mysql_db.close()

### Ejemplo trabajar directamente con pandas

In [ ]:
# Version 2
#db_connection_str = mysql_db.SQL_ALCHEMY
#db_connection = create_engine(db_connection_str)

#df1 = pd.read_sql("select * from people", con=db_connection)

#df1

In [ ]:
#df1 = df1[df1.ID <= 5]
#df1

In [ ]:
# Example

#table_to_insert = "people"

#to_append = "append"
#to_replace = "replace"

#try:
    #frame_sql = df1.to_sql(name="people", con=db_connection, if_exists="replace", index=False)
    #print("Success")
#except Exception as error:
    #print(error)

### Interactuando directamente con la base de datos sin pasar por pandas

In [ ]:
#sql2 = """DELETE FROM people WHERE ID>5;"""

#mysql_db.execute_interactive_sql(sql=sql2)