### CRUD:
- Create
- Replace
- Update
- Delete

===============================

### IMPORTS & GET DATABASE INFO

In [1]:
from jsons import read_json_to_dict
from mysql_driver import MySQL
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

json_readed = read_json_to_dict("sql_server_settings.json")
IP_DNS = json_readed["IP_DNS"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]
PORT = json_readed["PORT"]

In [2]:
# Connect to MySQL
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
conn = mysql_db.connect()

Connected to MySQL server [x9808164k_ds_april_2021_db]

============== 

### DROP TABLE

In [12]:
# Drop table if it already exist using execute() method.
#mysql_db.cursor.execute("DROP TABLE IF EXISTS people")

#mysql_db.execute_interactive_sql(sql="DROP TABLE IF EXISTS Football")

Executed

DROP TABLE IF EXISTS Football

 successfully

1

============== 

### CREATE TABLE

In [14]:
import os
SEP = os.sep
dir = os.path.dirname

csv_fullpath = dir(dir(dir(os.getcwd()))) + SEP + "data" + SEP + "futclean.csv"

csv_fullpath

'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\EDA\\data\\futclean.csv'

In [15]:
football = pd.read_csv(csv_fullpath, index_col=0)
football = football.reset_index()
football

,Country,League,Season,Date,Homeoraway,Team,TeamGoals,Opponent,OpponentGoals,Favourite,Result,TotalGoals,TeamOdds,DrawOdds,OpponentOdds,ResultBetWin,ResultBetDraw,ResultBetLose
0,ENGLAND,PREM,20/21,2021/05/23,Away,Chelsea,1,Aston Villa,2,Favourite,Lose,3,1.45,4.6,6.50,-1.0,-1.0,5.50
1,ENGLAND,PREM,20/21,2021/05/23,Home,Fulham,0,Newcastle,2,Favourite,Lose,2,2.05,3.8,3.30,-1.0,-1.0,2.30
2,ENGLAND,PREM,20/21,2021/05/23,Home,Leicester,2,Tottenham,4,Favourite,Lose,6,2.00,4.0,3.30,-1.0,-1.0,2.30
3,ENGLAND,PREM,20/21,2021/05/23,Away,Burnley,0,Sheffield United,1,Favourite,Lose,1,2.40,3.6,2.80,-1.0,-1.0,1.80
4,ENGLAND,PREM,20/21,2021/05/23,Home,Wolves,1,Man United,2,Favourite,Lose,3,2.50,3.5,2.70,-1.0,-1.0,1.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17347,ENGLAND,PREM,15/16,2015/08/08,Away,Swansea,2,Chelsea,2,NotFavourite,Draw,4,11.00,5.0,1.36,-1.0,4.0,-1.00
17348,ENGLAND,PREM,15/16,2015/08/08,Away,Watford,2,Everton,2,NotFavourite,Draw,4,5.50,3.9,1.70,-1.0,2.9,-1.00
17349,ENGLAND,PREM,15/16,2015/08/08,Away,Sunderland,2,Leicester,4,NotFavourite,Lose,6,4.33,3.5,1.95,-1.0,-1.0,0.95
17350,ENGLAND,PREM,15/16,2015/08/08,Away,Tottenham,0,Man United,1,NotFavourite,Lose,1,6.00,4.0,1.65,-1.0,-1.0,0.65
17351,ENGLAND,PREM,15/16,2015/08/08,Away,Crystal Palace,3,Norwich,1,NotFavourite,Win,4,3.00,3.3,2.55,2.0,-1.0,-1.00

============== 

### SELECT TABLE

In [18]:
# Select
select_sql = """SELECT * FROM Football"""
select_result = mysql_db.execute_get_sql(sql=select_sql)

# tupla de tuplas
type(select_result)

Executing:
 SELECT * FROM Football

tuple

============== 

### INSERT TABLE

In [ ]:
# Insert

#to_insert_1 = ["Pepito", "Wolfram_Eustaquio", "Calle Bellavista 9º-B", "67", "Enfermedad: Ceguera"]
#to_insert_2 = ["Juanita", "Data Science", "Calle Recoletos", "15", "Está muy alegre siempre"]

#sql_to_insert_1 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_1)
#sql_to_insert_2 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_2)

In [ ]:
#sql_to_insert_1

In [ ]:
# Otra forma de insert
#mysql_db.execute_interactive_sql(sql="""INSERT INTO people 
(MOMENTO, NOMBRE, APELLIDOS, DIRECCION, EDAD, NOTA) 
VALUES 
(NOW(), 'Pepito', 'Wolfram_Eustaquio', 'Calle Bellavista 9º-B', '67', 'Enfermedad: Ceguera')""")

In [ ]:
#mysql_db.execute_interactive_sql(sql=sql_to_insert_1)
#mysql_db.execute_interactive_sql(sql=sql_to_insert_2)

=====================

### SELECT COLUMNS

In [ ]:
#select_sql = """SELECT * FROM people"""
#select_result = mysql_db.execute_get_sql(sql=select_sql)
#select_result

In [ ]:
#sql_drop = """DELETE FROM people WHERE NOMBRE='Pepito';"""
#mysql_db.execute_interactive_sql(sql=sql_drop)

In [ ]:
#select_sql = """SELECT * FROM people"""
#select_result = mysql_db.execute_get_sql(sql=select_sql)
#select_result

# WITH PANDAS

### Select with pandas

In [ ]:
# Usar estas 4 lineas para enviar los csv limpios a mysql

In [27]:
#engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@{IP_DNS}:{PORT}/{BD_NAME}')

In [50]:
#football.to_sql('Football', con = engine, index=False, if_exists='replace')

In [44]:
#nfl.to_sql('NFL', con = engine, index=False, if_exists='replace')

In [41]:
#NBA.to_sql('NBA', con = engine, index=False, if_exists='replace')

### Insert from pandas

=============================

### Update row

In [ ]:
#mysql_db.close()

### Ejemplo trabajar directamente con pandas

In [ ]:
# Version 2
#db_connection_str = mysql_db.SQL_ALCHEMY
#db_connection = create_engine(db_connection_str)

#df1 = pd.read_sql("select * from people", con=db_connection)

#df1

In [ ]:
#df1 = df1[df1.ID <= 5]
#df1

In [ ]:
# Example

#table_to_insert = "people"

#to_append = "append"
#to_replace = "replace"

#try:
    #frame_sql = df1.to_sql(name="people", con=db_connection, if_exists="replace", index=False)
    #print("Success")
#except Exception as error:
    #print(error)

### Interactuando directamente con la base de datos sin pasar por pandas

In [ ]:
#sql2 = """DELETE FROM people WHERE ID>5;"""

#mysql_db.execute_interactive_sql(sql=sql2)