# 04 - Grouping

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [71]:
continents = drinks.groupby("continent")
means = continents.mean()
mean_df = means.reset_index()
mean_df
#cc = mean_df.beer_servings.idxmax(axis=0)
#mean_df.iloc[[cc]]

,continent,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,AF,61.471698,16.339623,16.264151,3.007547
1,AS,37.045455,60.840909,9.068182,2.170455
2,EU,193.777778,132.555556,142.222222,8.617778
3,OC,89.687500,58.437500,35.625000,3.381250
4,SA,175.083333,114.750000,62.416667,6.308333

### Step 5. For each continent print the statistics for wine consumption.

In [53]:
#print(mean_df.iloc[: , 3:4])

for index, row in mean_df.iterrows():
    print("Continent: ", row['continent'], " Mean Wine Consumption: ", row['wine_servings'])

Continent:  AF  Mean Wine Consumption:  16.264150943396228
Continent:  AS  Mean Wine Consumption:  9.068181818181818
Continent:  EU  Mean Wine Consumption:  142.22222222222223
Continent:  OC  Mean Wine Consumption:  35.625
Continent:  SA  Mean Wine Consumption:  62.416666666666664

### Step 6. Print the mean alcohol consumption per continent for every column

In [62]:
print("Mean consumption for each continent: ")
for index, row in mean_df.iterrows():
    print("Continent: ", row['continent'], "| Beer Consumption: ", row['beer_servings'],"| Spirits Consumption: ", row['spirit_servings'], "| Wine Consumption: ", row['wine_servings'],"| Tot Litres of Pure Alcohol: ", row['total_litres_of_pure_alcohol'])

Mean consumption for each continent:
Continent:  AF | Beer Consumption:  61.471698113207545 | Spirits Consumption:  16.339622641509433 | Wine Consumption:  16.264150943396228 | Tot Litres of Pure Alcohol:  3.00754716981132
Continent:  AS | Beer Consumption:  37.04545454545455 | Spirits Consumption:  60.84090909090909 | Wine Consumption:  9.068181818181818 | Tot Litres of Pure Alcohol:  2.1704545454545454
Continent:  EU | Beer Consumption:  193.77777777777777 | Spirits Consumption:  132.55555555555554 | Wine Consumption:  142.22222222222223 | Tot Litres of Pure Alcohol:  8.617777777777777
Continent:  OC | Beer Consumption:  89.6875 | Spirits Consumption:  58.4375 | Wine Consumption:  35.625 | Tot Litres of Pure Alcohol:  3.3812500000000005
Continent:  SA | Beer Consumption:  175.08333333333334 | Spirits Consumption:  114.75 | Wine Consumption:  62.416666666666664 | Tot Litres of Pure Alcohol:  6.308333333333334

### Step 7. Print the median alcohol consumption per continent for every column

In [61]:
conti = drinks.groupby("continent")
med = conti.median()
med = med.reset_index()
print("Median consumption for each continent: ")
for index, row in med.iterrows():
    print("Continent: ", row['continent'], "| Beer Consumption: ", row['beer_servings'],"| Spirits Consumption: ", row['spirit_servings'], "| Wine Consumption: ", row['wine_servings'],"| Tot Litres of Pure Alcohol: ", row['total_litres_of_pure_alcohol'])

Median consumption for each continent:
Continent:  AF | Beer Consumption:  32.0 | Spirits Consumption:  3.0 | Wine Consumption:  2.0 | Tot Litres of Pure Alcohol:  2.3
Continent:  AS | Beer Consumption:  17.5 | Spirits Consumption:  16.0 | Wine Consumption:  1.0 | Tot Litres of Pure Alcohol:  1.2
Continent:  EU | Beer Consumption:  219.0 | Spirits Consumption:  122.0 | Wine Consumption:  128.0 | Tot Litres of Pure Alcohol:  10.0
Continent:  OC | Beer Consumption:  52.5 | Spirits Consumption:  37.0 | Wine Consumption:  8.5 | Tot Litres of Pure Alcohol:  1.75
Continent:  SA | Beer Consumption:  162.5 | Spirits Consumption:  108.5 | Wine Consumption:  12.0 | Tot Litres of Pure Alcohol:  6.85

### Step 8. Print the mean, min and max values for spirit consumption.

In [69]:
print("Minimum spirit consumption: ", drinks.spirit_servings.min())
print("Maximum spirit consumption: ", drinks.spirit_servings.max())
print("Mean spirit consumption: ", drinks.spirit_servings.mean())

Minimum spirit consumption:  0
Maximum spirit consumption:  438
Mean spirit consumption:  80.99481865284974

In [72]:
drinks[drinks['continent']=='AS'].groupby(['continent','country']).max()

                                beer_servings  spirit_servings  wine_servings  \
continent country
AS        Afghanistan                       0                0              0
          Bahrain                          42               63              7
          Bangladesh                        0                0              0
          Bhutan                           23                0              0
          Brunei                           31                2              1
          Cambodia                         57               65              1
          China                            79              192              8
          India                             9              114              0
          Indonesia                         5                1              0
          Iran                              0                0              0
          Iraq                              9                3              0
          Israel                           63               69              9
          Japan                            77              202             16
          Jordan                            6               21              1
          Kazakhstan                      124              246             12
          Kuwait                            0                0              0
          Kyrgyzstan                       31               97              6
          Laos                             62                0            123
          Lebanon                          20               55             31
          Malaysia                         13                4              0
          Maldives                          0                0              0
          Mongolia                         77              189              8
          Myanmar                           5                1              0
          Nepal                             5                6              0
          North Korea                       0                0              0
          Oman                             22               16              1
          Pakistan                          0                0              0
          Philippines                      71              186              1
          Qatar                             1               42              7
          Russian Federation              247              326             73
          Saudi Arabia                      0                5              0
          Singapore                        60               12             11
          South Korea                     140               16              9
          Sri Lanka                        16              104              0
          Syria                             5               35             16
          Tajikistan                        2               15              0
          Thailand                         99              258              1
          Timor-Leste                       1                1              4
          Turkey                           51               22              7
          Turkmenistan                     19               71             32
          United Arab Emirates             16              135              5
          Uzbekistan                       25              101              8
          Vietnam                         111                2              1
          Yemen                             6                0              0

                                total_litres_of_pure_alcohol
continent country
AS        Afghanistan                                    0.0
          Bahrain                                        2.0
          Bangladesh                                     0.0
          Bhutan                                         0.4
          Brunei                                         0.6
          Cambodia                                       2.2
          China                                          5.0
          India                                          2.2
          Indonesia                                      0.1
          Iran                                           0.0
          Iraq                                           0.2
          Israel                                         2.5
          Japan                                          7.0
          Jordan                                         0.5
          Kazakhstan                                     6.8
          Kuwait                                         0.0
          Kyrgyzstan                                     2.4
          Laos                                           6.2
          Lebanon                                        1.9
          Malaysia                                       0.3
          Maldives                                       0.0
          Mongolia                                       4.9
          Myanmar                                        0.1
          Nepal                                          0.2
          North Korea                                    0.0
          Oman                                           0.7
          Pakistan                                       0.0
          Philippines                                    4.6
          Qatar                                          0.9
          Russian Federation                            11.5
          Saudi Arabia                                   0.1
          Singapore                                      1.5
          South Korea                                    9.8
          Sri Lanka                                      2.2
          Syria                                          1.0
          Tajikistan                                     0.3
          Thailand                                       6.4
          Timor-Leste                                    0.1
          Turkey                                         1.4
          Turkmenistan                                   2.2
          United Arab Emirates                           2.8
          Uzbekistan                                     2.4
          Vietnam                                        2.0
          Yemen                                          0.1