# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [7]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [12]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [13]:
#chipo.sort_values(by=['item_price'], ascending=False, inplace=True)

def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', ''))
    return(x)
#HE AÑADIDO COLUMNAS PARA TENER EL PRECIO SIN $ Y TAMBIEN DIVIDIDO POR UNIDADES

chipo['price_new'] = chipo['item_price'].apply(clean_currency).astype('float')
chipo.sort_values(by=['price_new'], ascending=False, inplace=True)
chipo["unit_price"] = chipo["price_new"] / chipo["quantity"]
chipo[["item_name","item_price"]].head(3)

                         item_name item_price
3598  Chips and Fresh Tomato Salsa    $44.25
3480                 Carnitas Bowl    $35.25
1254               Chicken Burrito    $35.00

### Step 4. How many products cost more than $10.00?

In [80]:
#chipo.groupby('item_name').size()

gh = chipo[chipo['unit_price'] > 10.00].groupby('item_name')['unit_price'].count()
print("Amount of items that cost > $10.00: ",len(gh))
print("-------------")
print(gh)

Amount of items that cost > $10.00:  25
-------------
item_name
Barbacoa Bowl             27
Barbacoa Burrito          24
Barbacoa Crispy Tacos      4
Barbacoa Salad Bowl        5
Barbacoa Soft Tacos        8
Carnitas Bowl             32
Carnitas Burrito          19
Carnitas Crispy Tacos      2
Carnitas Salad Bowl        4
Carnitas Soft Tacos        3
Chicken Bowl             282
Chicken Burrito          180
Chicken Crispy Tacos      15
Chicken Salad              2
Chicken Salad Bowl        51
Chicken Soft Tacos        26
Steak Bowl                90
Steak Burrito            127
Steak Crispy Tacos        11
Steak Salad Bowl          19
Steak Soft Tacos           9
Veggie Bowl               45
Veggie Burrito            37
Veggie Salad Bowl         10
Veggie Soft Tacos          2
Name: unit_price, dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [81]:
print(chipo[["item_name","item_price"]])

                         item_name item_price
3598  Chips and Fresh Tomato Salsa    $44.25
3480                 Carnitas Bowl    $35.25
1254               Chicken Burrito    $35.00
3602               Chicken Burrito    $35.00
3601                Veggie Burrito    $33.75
...                            ...        ...
2520                   Canned Soda     $1.09
2961                   Canned Soda     $1.09
248                    Canned Soda     $1.09
1662                   Canned Soda     $1.09
1290                   Canned Soda     $1.09

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [82]:
chipo.sort_values(by=['item_name'], ascending=True, inplace=True)
chipo

,order_id,quantity,item_name,choice_description,item_price,price_new,unit_cost,unit_price
4522,1798,1.0,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49,6.49
2374,945,1.0,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49,6.49
1392,566,1.0,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49,6.49
4535,1803,1.0,6 Pack Soft Drink,[Lemonade],$6.49,6.49,6.49,6.49
3789,1517,1.0,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49,6.49
...,...,...,...,...,...,...,...,...
2384,948,1.0,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75,8.75
1395,567,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49,8.49
2851,1132,1.0,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49,8.49
781,322,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75,8.75
1699,688,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25,11.25

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [94]:
bb = chipo.price_new.idxmax(axis=0)
print("Row with highest value for price: ", bb)
print("Quantity =", chipo.quantity[bb])

Row with highest value for price:  3598
Quantity = 15.0

V2

In [102]:
chipo.loc[chipo['price_new'].idxmax()]

order_id                                      1443
quantity                                      15.0
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
price_new                                    44.25
unit_cost                                     2.95
unit_price                                    2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [108]:
print("How many times has Veggie Salad Bowl been ordered: ", chipo.loc[chipo.item_name == 'Veggie Salad Bowl', "item_name"].count())

How many times has Veggie Salad Bowl been ordered:  18

### Step 9. How many times did someone order more than one Canned Soda?

In [128]:
print("How many times was more than one Canned Soda ordered: ", chipo[(chipo["item_name"]=="Canned Soda") & (chipo["quantity"]>1)].count()["item_name"])

How many times was more than one Canned Soda ordered:  20