# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [5]:
student_list = ["Adria", "Daniel", "Gina", "JonathanA", "JonathanS", "Jorge", "Jose", "Juan", "Leonardo", "Mary", "NachoA", "NachoF", "Sonia", "Xinru", "Isabel", "Javier", "Karina", "Maria", "Marina", "PabloD", "PabloE", "Susana", "Maekhal"]
print(student_list)

['Adria', 'Daniel', 'Gina', 'JonathanA', 'JonathanS', 'Jorge', 'Jose', 'Juan', 'Leonardo', 'Mary', 'NachoA', 'NachoF', 'Sonia', 'Xinru', 'Isabel', 'Javier', 'Karina', 'Maria', 'Marina', 'PabloD', 'PabloE', 'Susana', 'Maekhal']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [6]:
empty_list =[]

2. Create a list with 5 items, call it **my_list**

In [7]:
my_list = ["one", "two", "three", "four", "five"]

3. Find the length of **my_list**

In [8]:
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [12]:
print(my_list[0][2][-1])

e

In [15]:
print(my_list[0],[2],[-1])

one [2] [-1]

In [16]:
print(my_list[0], my_list[2], my_list[-1])

one three five

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [17]:
name = "Daniel"
age = 34
height = 187
country = "Spain"
python_version = "3.7.4"

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [19]:
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['Daniel', 34, 187, 'Spain', '3.7.4']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [20]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [21]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [22]:
print(len(it_companies))

7

11. Print *Google*

In [23]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [25]:
print(it_companies[0], it_companies[3], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [28]:
it_companies[-1] = "TheBridge"

12. Print the list after modifying one of the companies

In [29]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'TheBridge']

## Bonus track.

13. Add an IT company to **it_companies**

In [30]:
it_companies.append("Indra")

14. Check if *Apple* exists in the **it_companies** list.

In [32]:
print("The index of Apple in the list is:", it_companies.index("Apple"))

The index of Apple in the list is: 3

15. Sort the list using `sort()` method

In [33]:
it_companies.sort()
print(it_companies)

['Apple', 'Facebook', 'Google', 'IBM', 'Indra', 'Microsoft', 'Oracle', 'TheBridge']

16. Reverse the list in descending order using `reverse()` method

In [34]:
it_companies.reverse()
print(it_companies)

['TheBridge', 'Oracle', 'Microsoft', 'Indra', 'IBM', 'Google', 'Facebook', 'Apple']

17. Slice out the first 3 companies from the list

In [36]:
it_companies.remove[0:3]
print(it_companies)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [37]:
it_companies.remove[0]
it_companies.remove[0]
it_companies.remove[0]
print(it_companies)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [38]:
it_companies.pop[0:3]
print(it_companies)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [39]:
it_companies.pop[0]
it_companies.pop[0]
it_companies.pop[0]
print(it_companies)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [40]:
it_companies.pop(0,1,2)
print(it_companies)

TypeError: pop() takes at most 1 argument (3 given)

In [41]:
it_companies.pop(0)
print(it_companies)

['Oracle', 'Microsoft', 'Indra', 'IBM', 'Google', 'Facebook', 'Apple']

In [42]:
it_companies.pop(0)
it_companies.pop(0)
print(it_companies)

['Indra', 'IBM', 'Google', 'Facebook', 'Apple']

18. Remove the last IT company from the list

In [43]:
it_companies.pop(-1)
print(it_companies)

['Indra', 'IBM', 'Google', 'Facebook']

19. Remove all IT companies from the list

In [45]:
del it_companies[:]
print(it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [46]:
end: = [front_end + back_end]

SyntaxError: invalid syntax (<ipython-input-46-412b989ca58a>, line 1)

In [50]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [53]:
end = front_end + back_end

In [54]:
'end:' = front_end + back_end

SyntaxError: can't assign to literal (<ipython-input-54-1a58ceebb03a>, line 1)

In [55]:
"end:\"" = front_end + back

SyntaxError: can't assign to literal (<ipython-input-55-a1a4385ffec6>, line 1)

21. From the **end** list print 'HTML'

In [56]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [57]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [58]:
tup = ("T",)
print(tup)

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [59]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [60]:
print("to append to tup, the tuple must be converted to a list, add the new elements, then change back to a tuple")

to append to tup, the tuple must be converted to a list, add the new elements, then change back to a tuple

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [65]:
print("the T can be added by changing to list and back again")
new_list = list(tup)
new_list[0] = "T", "H", "E", " ", "B", "R", "I", "D", "G", "E",
print(new_list)

the T can be added by changing to list and back again
[('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')]

In [66]:
tup = tuple(new_list)
print(tup)

(('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E'),)

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [68]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [72]:
print(lista_repes)

['data', 'data', 'data', 'science', 'science', 'python', 'python', 'diomedes', 'diomedes', 'diomedes', 'diomedes', 'clara', 'gabriel', 'gabriel', 'gabriel']

In [73]:
my_set = set(lista_repes)
print(my_set)

{'diomedes', 'clara', 'gabriel', 'data', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [74]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [76]:
my_set = list(my_set)
print(my_set[0])

diomedes