# 04 - Grouping

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.

In [4]:
regiment = pd.DataFrame(raw_data, columns=['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [11]:
pretest = regiment.groupby('regiment').agg({'preTestScore': ['mean']})
pretest.loc[['Nighthawks']]

           preTestScore
                   mean
regiment
Nighthawks        15.25


### Step 5. Present general statistics by company

In [15]:
regiment.groupby(['regiment','company']).describe()

                   preTestScore                                             \
                          count  mean        std   min    25%   50%    75%
regiment   company
Dragoons   1st              2.0   3.5   0.707107   3.0   3.25   3.5   3.75
           2nd              2.0  27.5   4.949747  24.0  25.75  27.5  29.25
Nighthawks 1st              2.0  14.0  14.142136   4.0   9.00  14.0  19.00
           2nd              2.0  16.5  20.506097   2.0   9.25  16.5  23.75
Scouts     1st              2.0   2.5   0.707107   2.0   2.25   2.5   2.75
           2nd              2.0   2.5   0.707107   2.0   2.25   2.5   2.75

                         postTestScore                                      \
                     max         count  mean        std   min    25%   50%
regiment   company
Dragoons   1st       4.0           2.0  47.5  31.819805  25.0  36.25  47.5
           2nd      31.0           2.0  75.5  26.162951  57.0  66.25  75.5
Nighthawks 1st      24.0           2.0  59.5  48.790368  25.0  42.25  59.5
           2nd      31.0           2.0  59.5   3.535534  57.0  58.25  59.5
Scouts     1st       3.0           2.0  66.0   5.656854  62.0  64.00  66.0
           2nd       3.0           2.0  66.0   5.656854  62.0  64.00  66.0


                      75%   max
regiment   company
Dragoons   1st      58.75  70.0
           2nd      84.75  94.0
Nighthawks 1st      76.75  94.0
           2nd      60.75  62.0
Scouts     1st      68.00  70.0
           2nd      68.00  70.0

### Step 6. What is the mean of each company's preTestScore?

In [20]:
ff = regiment.groupby(['company']).mean()
ff[['preTestScore']]

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [21]:
gg = regiment.groupby(['regiment','company']).mean()
gg[['preTestScore']]

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [26]:
tt = regiment.groupby(['regiment']).mean()
tt[['preTestScore']]

            preTestScore
regiment
Dragoons           15.50
Nighthawks         15.25
Scouts              2.50

In [27]:
dd = regiment.groupby(['company']).mean()
dd[['preTestScore']]

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 9. Group the entire dataframe by regiment and company

In [28]:
regiment.groupby(['regiment','company'])
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 10. What is the number of observations in each regiment and company

In [35]:
import sys, os

dondeestoy= os.getcwd()
carpeta_que_contiene_a_dondestoy= os.path.dirname(os.getcwd())
carpeta_que_contiene_a_dondestoy = 'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\'
sys.path.append(carpeta_que_contiene_a_dondestoy)
sys.path

['c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\exercises\\pandas\\04_Grouping\\Regiment',
 'c:\\Users\\Daniel\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.811652604\\pythonFiles',
 'c:\\Users\\Daniel\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.811652604\\pythonFiles',
 'c:\\Users\\Daniel\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.811652604\\pythonFiles\\lib\\python',
 'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python\\Python37\\python37.zip',
 'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python\\Python37\\DLLs',
 'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python\\Python37\\lib',
 'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python\\Python37',
 '',
 'C:\\Users\\Daniel\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\Daniel\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32',
 'C:\\Users\\Daniel\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32\\lib',
 'C:\\Users\\Daniel\\AppData\\Roaming\\Python\\Python37\\site-packages\\Pythonwin',
 'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages',
 'C:\\Users\\Daniel\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\Daniel\\.ipython',
 'c:\\Users\\Daniel\\Desktop\\The Bridge\\walkdabridge\\']

In [36]:
import walk_func as wf

In [43]:
wf.times_in_column(regiment, "regiment")

regiment
Dragoons      4
Nighthawks    4
Scouts        4
dtype: int64

In [44]:
regiment.groupby(['regiment','company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [45]:
groups = regiment.groupby("regiment")
  
for name, group in groups:
    print(name)
    print(group)
    print("\n")

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57


Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62


Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70